.basic-2 {
  padding-top: 3.75rem;
  padding-bottom: 4rem;
}

.basic-2 .image-container {
  margin-bottom: 4rem;
}

.basic-2 h2 {
  margin-bottom: 1.375rem;
}

.basic-2 .list-unstyled .fas {
  color: #00bfd8;
  line-height: 1.375rem;
}

.basic-2 .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.basic-2 .btn-solid-reg {
  margin-top: 0.625rem;
}
@media (min-width: 992px) {
  .basic-2 .image-container {
    margin-bottom: 0;
  }

  .basic-2 .text-container {
    margin-top: 3.125rem;
  }
}
@media (min-width: 1200px) {
  .basic-2 .text-container {
    margin-top: 5.375rem;
    margin-right: 1rem;
    margin-left: 4rem;
  }
}
